@page "/songs/edit/{id:int}"
@using SongListApp.Shared.Model;
@inject HttpClient http;
@inject NavigationManager navigator;

<h3>Edit Song</h3>

<EditForm Model="song" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
        <div class="form-group">
            <label class="form-label" for="songTilte">Song Title</label>
            <InputText class="form-control" id="songTitle" @bind-Value="song!.Title" />
            <ValidationMessage For="@(()=> song.Title)" />
        </div>
        <div class="form-group">
            <label class="form-label" for="songArtist">Song Artist</label>
            <InputText class="form-control" id="songArtist" @bind-Value="song!.Artist" />
            <ValidationMessage For="@(()=> song.Artist)" />
        </div>
        <button class="btn btn-outline-success mt-4" type="submit">Modify song</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private Song? song = new Song();

    protected override async Task OnInitializedAsync()
    {
        song = await http.GetFromJsonAsync<Song>($"api/Songs/{Id}");
    }

    private async Task HandleValidSubmit()
    {
        var response = await http.PutAsJsonAsync($"api/Songs/{Id}", song);
        if (response.IsSuccessStatusCode)
        {
            navigator.NavigateTo("songs");
        }
    }
}
